html {
    scroll-behavior: smooth;
  }
body {
    background-color:rgb(29, 26, 26);
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
}
.page-title {
    position:sticky;
    top:0;
    margin:-8px;
    text-align: center;
    background-color:rgb(85, 0, 0);
    padding:10px;
    font-weight:lighter;
    font-size:300%;
    border-bottom: 1px solid gold;
}
.form-wrapper {
    display:block;
    margin:auto;
    text-align:center;
    padding-bottom:25px;
    padding-top:25px;
}
#conversor{
    display:inline-block;
    background-color:rgb(55, 0, 0);
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    border: 1px solid gold;
    border-radius: 2%;
    font-size:130%;
}
form h2{
    margin-top:0;
    text-align:center;
    font-weight:normal;
}
.form-input {
    width:400px;
    padding:10px;
    margin:5px;
}
#submit {
    width:150px; height:40px; margin-top:10px; font-size: 110%; border: none;
    color: black;
    background-color: gold;
    text-decoration: none;
    cursor: pointer;
}